html, body {
    margin: 0;
}
body {
    background-color: #ececec;
    display: flex;
    justify-content: center;
}

h1{
    color:#b2e5f8;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #b2e5f8;
    padding: 10px 20px 0px;
}
.header {
    background-color: #32a5af;
    min-height: 150px;
}
.content {
    background-color: #dedede;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #32a5af;
    min-height: 150px;
}

#horar{
    border: solid 1px #000000;
    border-collapse: collapse;
    padding: 50px;
}

#horar th{
    background-color: #000000;
    color: #ffffff;
    padding: 5px 30px;
    border: solid 1px;
}

#horar td{
    padding: 5px 30px;
    border: solid 1px;
}

#conta{
    width: 100%;
    padding: 20px;
    text-align: center;
}

#horar tr:hover{
    background-color: burlywood;
}

#mensagem{
    min-width: 550px;
    min-height: 50px;
    margin-top: 10px;
}

#botao{
    text-align: right;
    vertical-align: bottom;
    padding-top: 15px;
}